@model IEnumerable<NeighborhoodBulletin.Models.ShopOwnerSubscriptionViewModel>



@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<h2>Your QR Code</h2>

@foreach (var item in Model)
{
    if (item.QRCodeURL != null)
    {
        <p>
            <img src="@item.QRCodeURL" />
        </p>
    }

}



<h2>Business of Interest in your Zip Code</h2>


<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            if (item.ShopOwner != null)
            {


                if (item.ShopOwnerIds.Contains(item.ShopOwner.Id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopOwner.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopOwner.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopOwner.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopOwner.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopOwner.BusinessName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subscription.TotalSpent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subscription.UsageCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subscription.Rank)
                        </td>
                        <td>
                            @if (item.Subscribed == true)

                            {
                                @Html.ActionLink("Unsubscribe", "Delete", new { id = item.Subscription.Id })
                            }
                            else
                            {
                                @Html.ActionLink("Subscribe", "Create", new { subscription = item.Subscription, shopOwnerId = item.ShopOwner.Id })
                            }

                        </td>
                        @Html.HiddenFor(modelItem => item.Neighbor.ApplicationUser.Id)
                        <td>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>

<h2>Business of Interest beyond your Zip Code</h2>

<p>
    <a asp-action="Create"></a>
</p>
@*@if() { }*@
<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            if (item.NonlocalShopOwnerIds != null)
            {

                if (item.NonlocalShopOwnerIds.Contains(item.NonlocalShopOwner.Id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NonlocalShopOwner.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NonlocalShopOwner.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NonlocalShopOwner.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NonlocalShopOwner.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NonlocalShopOwner.BusinessName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subscription.TotalSpent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subscription.UsageCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subscription.Rank)
                        </td>
                        <td>
                            @if (item.Subscribed == true)

                            {
                                @Html.ActionLink("Unsubscribe", "Delete", new { id = item.Subscription.Id })
                            }
                            else
                            {
                                @Html.ActionLink("Subscribe", "Create", new { subscription = item.Subscription, shopOwnerId = item.NonlocalShopOwner.Id })
                            }


                        </td>
                        @Html.HiddenFor(modelItem => item.Neighbor.ApplicationUser.Id)
                        <td>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>