@model NeighborhoodBulletin.Models.MessageIndexViewModel

@{
    ViewData["Title"] = $"{@Model.Neighbor.ZipCode}";
}

<h2 id="header">Messages in your Zip Code</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Neighbor)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Message.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Messages) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Neighbor.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            @if (item.NeighborId == Model.Neighbor.Id)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            }
        </tr>
}
    </tbody>
</table>

<h2 id="header">Updates in your Zip Code</h2>

<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Neighbor)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Update.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Updates)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Neighbor.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            @if (item.ShopOwnerId == Model.Neighbor.Id)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>
