@model Domain.MembershipRank

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MembershipRank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalSpent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalSpent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Neighbor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neighbor.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShopOwner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopOwner.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
