@model NeighborhoodBulletin.Models.QRCodeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Your QR Code and Membership Ranks</h2>

<p>
    <img src ="@Model.Neigbor.QRCode" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipRank.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipRank.TotalSpent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipRank.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipRank.Neighbor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipRank.ShopOwner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MembershipRanks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSpent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighbor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopOwner.BusinessName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
