@model IEnumerable<Domain.Hashtag>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighbor)
            </th>
            <th></th>
        </tr>
    </thead>*@

@foreach (var item in Model)
{
<table class="table">
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Neighbor.Id)
                </td>*@
            <td align="right">
                <a asp-action="Edit" asp-route-id="@item.Id">edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">delete</a>
            </td>
        </tr>
    </tbody>
</table>
}
